.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;

  display: flex;
  align-items: center;

  background: rgba(10, 31, 68, 0.92);
  backdrop-filter: blur(12px);

  z-index: 1000;

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 70px;
  width: auto;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 42px;
}

.nav-links a {
  font-size: 16px;
  font-weight: 500;

  color: white;

  transition: var(--transition);
}

.nav-links a:hover {
  color: var(--color-gold);
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

.mobile-register {
  display: none;
}
@media (max-width: 992px) {
  .menu-toggle {
    display: block;
    z-index: 1001;
  }
  .logo img {
    height: 55px;
  }

  .desktop-register {
    display: none;
  }

  .nav {
    position: fixed;

    top: 90px;

    left: -100%;

    width: 100%;

    background: #07152e;

    transition: 0.35s;

    padding: 40px 0;
  }

  .nav.active {
    left: 0;
  }

  .nav-links {
    flex-direction: column;

    gap: 30px;
  }

  .mobile-register {
    display: block;

    margin-top: 20px;
  }
}
.navbar {
  transition: all 0.35s ease;
}

.navbar.scrolled {
  height: 80px;

  background: rgba(6, 20, 42, 0.97);

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}
.logo img {
  transition: 0.35s;
}

.navbar.scrolled .logo img {
  height: 60px;
}
